body{
    background-color: rgb(8, 36, 245);
    color: rgb(249, 247, 245);
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(7, 171, 225);
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}


main {
    text-align: center;
    max-width: 70%;
}

img {
    max-width: 70%;
}